<%= form_with(model: brand_score, local: true) do |form| %>
  <% if brand_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand_score.errors.count, "error") %> prohibited this brand_score from being saved:</h2>

      <ul>
      <% brand_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :term %>
    <%= form.text_field :term %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
