<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @brand_score.term %>
</p>

<p>
  <strong>Score:</strong>
  <%= @brand_score.score %>
</p>

<%= link_to 'Edit', edit_brand_score_path(@brand_score) %> |
<%= link_to 'Back', brand_scores_path %>
